
  
  body   {
    background-image: url('/designs/landingBackground.svg');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
  }
  
  body h1, a, h2, h3, Button {
    font-family: 'DesignerFont', sans-serif;
  }

  .customFont {
    font-family: 'DesignerFont', sans-serif;
  }